* {
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    --mainBackGround: hsl(233, 47%, 7%);
    --cardBackGround: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --heading: hsl(0, 0%, 100%);
    --mainParagraph: hsla(0, 0%, 100%, 0.75);
    --statHeading: hsla(0, 0%, 100%, 0.6);
    --fontSize: 15px;
    box-sizing: border-box;
    text-transform: capitalize;
}

body {
    background-color: var(--mainBackGround);
}

.mainCard {
    background-color: var(--cardBackGround);
    width: 1440px;
    padding: 80px;
    height: 600px;
    border-radius: 8px;
    margin: auto;
    position: fixed;
    top: 20%;
    left: 12.5%;

}

.texts {
    width: 500px;
    font-size: 24px;
    overflow: hidden;
}

h1 {
    color: var(--heading);
}

.onlyThis {
    color: var(--accent);
}

.mainImg {
    position: absolute;
    height: 600px;
    top: 0px;
    left: 713px;
    border-radius: 0 8px 8px 0;

}

.overly {
    width: 727px;
    height: 602px;
    background-color: rgb(114, 0, 170);
    position: relative;
    top: -531px;
    right: -633px;
    z-index: 3;
    opacity: .4;
    border-radius: 0 8px 8px 0;


}

.p1 {
    font-size: var(--fontSize);
    color: var(--statHeading);
}

.last {
    margin-top: 70px !important;
}

.nums,
.cont {
    display: flex;
    justify-content: flex-start;

}

.nums {
    font-size: 38px;
    font-weight: bold;
    color: var(--heading);


}

.cont {
    font-size: var(--fontSize);
    font-weight: bold;
    color: var(--statHeading);


}

.nums span {
    margin: 10px 50px;

}

.cont span {
    margin: 5px 50px;

}


.attribution {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.attribution a {
    color: var(--heading);
    background-color: hsl(274, 43%, 21%);
    font-size: 18px;
    position: relative;
    top: 855px;
    text-decoration: none;
    padding: 16px;
    border-radius: 18px;
    transition: .4s ease;

}

.attribution a:hover {
    color: #6b0ca2;
    background: #ffdd00;
    box-shadow: 0 0 5px #5e3078,
        0 0 25px #ebc413,
        0 0 50px #648768,
        0 0 100px #fff700;
}


::selection {
    background-color: rgb(56, 36, 59);
    color: rgb(202, 142, 202);
}

.attribution p {
    color: var(--statHeading);
    position: relative;
    left: 200px;
    top: 800px;
    font-size: 24px;

}